{% extends 'base_accounts.html' %}

{% block title %}Logga in hos tagalong{% endblock %}

{% block content %}
<div class="row justify-content-center">
  <div class="col-lg-4 col-md-6 col-sm-8">
    <div class="card">
      <div class="card-body">
        <h3 class="card-title">Logga in</h3>
        <form method="post" novalidate>
          {% csrf_token %}
          {% include 'includes/form.html' %}
          <button type="submit" class="btn btn-primary btn-block">Log in</button>
        </form>
      </div>
      <div class="card-footer text-muted text-center">
        Ny hos tagalong? <a href="{% url 'signup' %}">Registrering</a>
      </div>
      <div class="card-footer text-muted text-center">
        <a href="{% url 'password_reset' %}" class="text-primary"><small>Glömt ditt lösenord?</small></a>
      </div>
    </div>
  </div>
</div>
{% endblock %}