{% extends 'base_accounts.html' %}

{% block title %}Återställ ditt lösenord{% endblock %}

{% block content %}
<div class="row justify-content-center">
  <div class="col-lg-4 col-md-6 col-sm-8">
    <div class="card">
      <div class="card-body">
        <h3 class="card-title">Återställ ditt lösenord</h3>
        <p>Kontrollera din e-post efter en länk för att återställa ditt lösenord. Om det inte visas inom några minuter,
          kontrollera din skräppostmapp.</p>
        <a href="{% url 'login' %}" class="btn btn-secondary btn-block">Gå tillbaka för att logga in</a>
      </div>
    </div>
  </div>
</div>
{% endblock %}