{% extends 'base.html' %}
{% load static %}
{% block body %}

<head>
    <link rel="stylesheet" href="{% static 'css/events.css' %}">
    {% block stylesheet %}
    {% endblock %}
  </head>
  
<div class="container mt-3 boxed-container-750px">
    <h3>My Profile <img class="profile-img" src="{{request.user.profile_img.url}}" height="40px"></h3>
    <form method="post" action="{{ request.scheme }}://{{ request.get_host }}/profile/" enctype="multipart/form-data">
        {% csrf_token %}
        {{user_form}}
        <button class="form-control btn btn-primary">Save</button>
    </form>
</div>


{% endblock %}