{% extends 'base.html' %}
{% load static %}
{% block body %}

<head>
    {% block stylesheet %}
    {% endblock %}
  </head>
  
<div class="container mt-3">
    {{friends}}
    {% for event in events %}
    <article class="service-article boxed-container-750px">
        <table>
                <tr>
                <td>
                    <p>{% if event.user.profile_img %}<img class="profile-img" src="{{event.user.profile_img.url}}" height="30px">{% endif %} <i>{{event.user.first_name}} {{event.user.last_name}}</i></p>
                </td>
            </tr>
            <tr>
                <td>
                    <h4>{{event.title}}</h4>
                </td>
                <td>
                    <p>{{event.date}}</p>
                </td>
            </tr>
            <tr>
                <td>
                    <p><a href="{{event.link}}">{{event.link_text}}</a></p>
                </td>
                <td>
                    <p><a href="{{event.adress_link}}">{{event.adress}}</a></p>
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <p>{{event.description}}</p>
                </td>
            </tr>
        </table>
    </article>
    {% endfor %}
</div>

{% endblock %}